form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  max-width: 800px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-width: 185px;
}

@media (max-width: 800px) {
  form {
    grid-template-columns: 1fr;
  }
}
