*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: monospace;
}

body {
  background-color: #f2fdf2;
}

main {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */

  margin-bottom: 3rem;
}

header {
  margin: 2rem 0;
  text-align: center;
}

div {
  max-width: 800px;
  margin: 0 auto;
}

input,
select {
  padding: 0.25rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fcfffc;
}
